.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(80,
      49,
      173, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(206,
      166,
      220, 0.47);
  border-radius: 10px;
  height: 100%;
  background-color: white;
  min-height: 150px;
  min-width: 300px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.titleCourse {
  font-weight: bold;
  font-size: 16px;
  color: rgb(160, 160, 160);
  margin: 2%;
  width: 100%;
}

.counter {
  font-size: 28px;
  font-weight: 300;
  margin-left: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.CourseDetailLink {
  margin: 1rem 0 1rem 1rem !important;
  background-color: #5031ad !important;
  border-radius: 20px !important;
  box-shadow: none !important;
  color: white !important;
  width: 20% !important;
  max-width: 141.21px !important;
}

.percentage {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;


  &.positive {
    color: #5031ad;
  }

  &.negative {
    color: red;
  }
}

.icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}


.widgetsContainer {
  background-image: linear-gradient(90deg, rgba(211, 218, 237, 1) 0%, rgba(206, 166, 220, 0.8802871490393032) 87%);
}