.addQuestion{
margin-top: 4%!important;
margin-left: 85%!important;
color: white!important;
}

.createQuiz {
    margin-top: 2% !important;

    margin-bottom: 3% !important;
    background-color: #daffb3 !important;
    border-radius: 20px !important;
    box-shadow: none !important;

}