.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1rem;
    width: 100%;

    .welcomeText {
        font-size: 40px;
        margin-left: 0.25rem;
    }

    .welcomeImg {
        margin-right: 4rem;
    }
}