
* {
    font-family: 'Nunito',
        sans-serif;
}
.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    // margin: 1rem;
    width: 100%;
    

    .welcomeText {
        font-size: 90px;
        margin-left: 0.25rem;
            font-family: 'Nunito',
                    sans-serif;
    }

    .welcomeImg {
        margin-right: 3.5rem;
    }
}
